.settings-btn {
  position: absolute;
  top: 2.5rem;
  left: 1.25rem;
  z-index: 9;
  color: #fff;
  background-color: #343434;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem; /* Adjust button padding */
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.settings-btn:hover {
  background-color: #0056b3;
  transform: translateY(-0.125rem); /* Adjust button hover effect */
}

.settings-dropdown {
  display: none;
  position: absolute;
  top: 4rem;
  left: 1.25rem;
  background-color: #34343451;
  border-radius: 0.3125rem;
  padding: 0.625rem; /* Adjust dropdown padding */
  z-index: 10000;
  margin-top: 0.6%;
}

.settings-dropdown.active {
  display: block;
}

.settings-dropdown button {
  display: block;
  margin-bottom: 0.625rem; /* Adjust button margin */
  color: #fff;
  background-color: #343434;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem; /* Adjust button padding */
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.settings-dropdown button:hover {
  background-color: #0056b3;
  transform: translateY(-0.125rem); /* Adjust button hover effect */
}

/* Light mode overrides */
.light-mode .settings-btn {
  color: #000;
  background-color: #e0e0e0; /* Light mode button background */
}

.light-mode .settings-btn:hover {
  background-color: #007bff; /* Light mode hover background */
  transform: translateY(-0.125rem); /* Same hover effect */
}

.light-mode .settings-dropdown {
  background-color: rgba(240, 240, 240, 0.9); /* Light background for dropdown */
}

.light-mode .settings-dropdown button {
  background-color: #e0e0e0; /* Light mode button background inside dropdown */
  color: #000;
}

.light-mode .settings-dropdown button:hover {
  background-color: #007bff; /* Light mode button hover color */
  transform: translateY(-0.125rem); /* Same hover effect */
}
