/* Global styles */
html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    /* 16px */
    color: #f5f5f7;
    background-color: #121212;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2.75rem;
    /* 44px */
    box-sizing: border-box;
}

button {
    min-height: 2.1875rem;
    /* 35px */
    padding: 0 0.9375rem;
    /* 15px */
    color: #FFF;
    background-color: #343434;
    border: none;
    border-radius: 0.3125rem;
    /* 5px */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

button:first-child {
    margin-top: 0;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-0.125rem);
    /* -2px */
}

.file-input+.file-label {
    display: inline-block;
    cursor: pointer;
    padding: 0.625rem 1.5625rem;
    /* 10px 25px */
    background-color: #343434;
    border-radius: 0.3125rem;
    /* 5px */
    transition: background-color 0.2s;
}

.file-input+.file-label:hover {
    background-color: #45a049;
}

.file-input {
    display: none;
}

.loading,
.error {
    margin-top: 1.25rem;
    /* 20px */
}

.error {
    color: #ff3860;
}

.assets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /* 20px */
    max-width: 75rem;
    /* 1200px */
    max-height: calc(100vh - 8.75rem);
    /* Adjust the height as needed */
    overflow-y: auto;
    padding: 1.25rem;
    /* 20px */
}

.asset-item {
    background-color: #202020;
    border-radius: 0.5rem;
    /* 8px */
    padding: 0.625rem;
    /* 10px */
    position: relative;
    width: 200px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.asset-image {
    width: 100%;
    height: auto;
    border-radius: 0.3125rem;
    /* 5px */
    cursor: pointer;
}

.delete-button {
    position: absolute;
    top: 0.3125rem;
    /* 5px */
    right: 0.3125rem;
    /* 5px */
    background-color: #ff4747;
    border: none;
    color: white;
    border-radius: 50%;
    width: 1.5625rem;
    /* 25px */
    height: 1.5625rem;
    /* 25px */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-button:hover {
    background-color: #ff0000;
}


.drag-and-drop-container {
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.loading {
    color: #FFF;
    font-size: 1.25rem;
    /* 20px */
}

.error-notification {
    position: fixed;
    bottom: 1.25rem;
    /* 20px */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff3860;
    color: white;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    border-radius: 0.5rem;
    /* 8px */
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    /* 15px */
}

.error-notification button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 1.5625rem;
    /* 25px */
    height: 1.5625rem;
    /* 25px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-notification button:hover {
    background-color: #e22e4d;
}

.walletList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5625rem;
    /* 25px */
    border: 1px solid silver;
    border-radius: 0.75rem;
    /* 12px */
}

.walletList button {
    margin-top: 0.625rem;
    /* 10px */
    display: flex;
    height: 2.5rem;
    /* 40px */
    width: 8.4375rem;
    /* 135px */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}

.walletList img {
    height: 1.25rem;
    /* 20px */
    width: 1.25rem;
    /* 20px */
    margin: 0.625rem;
    /* 10px */
}

.walletList h2 {
    margin: 0;
    margin-bottom: 0.625rem;
    /* 10px */
}

.walletList p {
    font-size: 0.875rem;
    /* 14px */
    margin: 0;
}

/* Adding confirmation dialog styles */
.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.confirm-box {
    background-color: #282c34;
    color: #fff;
    padding: 1.25rem;
    /* 20px */
    border-radius: 0.5rem;
    /* 8px */
    box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);
    /* 0 5px 15px rgba(0, 0, 0, 0.5) */
    text-align: center;
    width: 18.75rem;
    /* 300px */
}

.confirm-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
    /* 20px */
}

.confirm-delete,
.cancel-delete {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    border: none;
    border-radius: 0.3125rem;
    /* 5px */
    cursor: pointer;
    font-weight: bold;
}

.confirm-delete {
    background-color: #ff3860;
    color: #fff;
}

.confirm-delete:hover {
    background-color: #e22e4d;
}

.cancel-delete {
    background-color: #6c757d;
    color: #fff;
}

.cancel-delete:hover {
    background-color: #5a6268;
}

/* Enhancing existing styles for a cohesive look */
.delete-button {
    background-color: transparent;
    color: #ff3860;
    font-size: 1.125rem;
    /* 18px */
    line-height: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover {
    background-color: transparent;
    color: #e22e4d;
}

.asset-item:hover .delete-button {
    visibility: visible;
}

.asset-item {
    position: relative;
    transition: transform 0.3s ease;
}

.asset-name {
    font-size: 0.75rem;
    /* 12px */
    padding-bottom: 0.3125rem;
    /* 5px */
    margin: 0;
    text-align: center;
}

.asset-item:hover {
    transform: scale(1.03);
    z-index: 1;
}

.asset-image {
    transition: opacity 0.3s ease;
}

.asset-item:hover .asset-image {
    opacity: 0.9;
}

/* Adjusting the overlay and loading for consistency */
.overlay,
.loading,
.error-notification {
    z-index: 30;
}

/* Additional UI enhancements */
.app,
.loading,
.error-notification,
.walletList {
    transition: all 0.3s ease;
}

/* Improving visibility and interaction */
.error-notification button {
    margin-left: 0.9375rem;
    /* 15px */
    background-color: #ff3860;
    color: #fff;
    border-radius: 50%;
    width: 1.5625rem;
    /* 25px */
    height: 1.5625rem;
    /* 25px */
    font-size: 1rem;
    /* 16px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-notification button:hover {
    background-color: #e22e4d;
}

/* Update button styles for a more modern and cohesive appearance */
button {
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Tooltip styles */
.tooltip {
    position: fixed;
    z-index: 999;
    background-color: rgba(52, 52, 52, 0.52);
    /* #34343434 */
    border-radius: 0.3125rem;
    /* 5px */
    padding: 0.625rem;
    /* 10px */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    /* 0 2px 4px rgba(0, 0, 0, 0.1) */
    color: rgb(244, 244, 244);
    font-size: 0.75rem;
    /* 12px */
}

.tooltip p {
    margin: 0;
}

/* Asset View */
.asset-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset-view-content {
    background-color: rgba(33, 33, 33, 0.33);
    padding: 1.25rem;
    /* 20px */
    border-radius: 0.5rem;
    /* 8px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    /* 0 2px 4px rgba(0, 0, 0, 0.2) */
    width: 66%;
    /* About 2/3rds of the screen width */
    height: 66%;
    /* About 2/3rds of the screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.asset-view-content img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.5rem;
    /* 8px */
    object-fit: contain;
}

.asset-view-actions {
    margin-top: 1.875rem;
    /* 30px */
}

.asset-view-actions button {
    background-color: #343434;
    color: #fff;
    padding: 0.5rem 1rem;
    /* 8px 16px */
    border: none;
    border-radius: 0.25rem;
    /* 4px */
    cursor: pointer;
    margin: 0 0.3125rem;
    /* 0 5px */
    transition: background-color 0.3s ease;
}

.asset-view-actions button:hover {
    background-color: #3367d6;
}

.logged-in-info {
    position: fixed;
    top: 0.625rem;
    /* 10px */
    right: 0.625rem;
    /* 10px */
    background-color: rgba(33, 33, 33, 0.8);
    padding: 0.3125rem 0.625rem;
    /* 5px 10px */
    border-radius: 0.3125rem;
    /* 5px */
    z-index: 9999;
    font-size: 0.75rem;
    /* 12px */
}

.toggle-button {
    display: inline-block;
    margin-top: 1%;
    z-index: 7;
}

.toggle-button label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-button input[type="checkbox"] {
    display: none;
}

.toggle-button .toggle-switch {
    position: relative;
    width: 40px;
    /* Adjust the width of the toggle button */
    height: 20px;
    /* Adjust the height of the toggle button */
    background-color: #ccc;
    /* Background color of the toggle button */
    border-radius: 20px;
    /* Adjust the border-radius for rounded corners */
    transition: background-color 0.3s ease;
}

.toggle-button input[type="checkbox"]:checked+.toggle-switch {
    background-color: #66bb6a;
    /* Background color when toggle is on */
}

.toggle-button .toggle-switch::before {
    content: "";
    position: absolute;
    left: 2px;
    /* Adjust the left position of the toggle button */
    top: 2px;
    /* Adjust the top position of the toggle button */
    width: 16px;
    /* Adjust the width of the toggle indicator */
    height: 16px;
    /* Adjust the height of the toggle indicator */
    background-color: white;
    /* Color of the toggle indicator */
    border-radius: 50%;
    /* Create a circle for the toggle indicator */
    transition: transform 0.3s ease;
}

.toggle-button input[type="checkbox"]:checked+.toggle-switch::before {
    transform: translateX(20px);
    /* Move the toggle indicator to the right when checked */
}

.settings-btn {
    position: absolute;
    top: 2.50rem;
    left: 1.25rem;
    z-index: 9;
    color: #fff;
    background-color: #343434;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    /* Adjust button padding */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .settings-btn:hover {
    background-color: #0056b3;
    transform: translateY(-0.125rem);
    /* Adjust button hover effect */
  }
  
  .settings-dropdown {
    display: none;
    position: absolute;
    top: 4rem;
    left: 1.25rem;
    background-color: #34343451;
    border-radius: 0.3125rem;
    padding: 0.625rem;
    /* Adjust dropdown padding */
    z-index: 10;
    margin-top: 0.6%;
  }
  
  .settings-dropdown.active {
    display: block;
  }
  
  .settings-dropdown button {
    display: block;
    margin-bottom: 0.625rem;
    /* Adjust button margin */
    color: #fff;
    background-color: #343434;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    /* Adjust button padding */
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  .settings-dropdown button:hover {
    background-color: #0056b3;
    transform: translateY(-0.125rem);
    /* Adjust button hover effect */
  }